PROXY_HOST=0.0.0.0
PROXY_PORT=8000
LOG_FOLDER=logs/ollama
LOG_RETAIN_DAYS=7

ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword

JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60