PROXY_HOST=0.0.0.0
PROXY_PORT=8000
LOG_FOLDER=logs/ollama
LOG_RETAIN_DAYS=7

ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword

DECRYPTION_KEY=ZYBKQuiDVSP3EBAEUh93pUXQFZ48KypY4nGXcw6cTwo

USE_LOCAL_OLLAMA=true
OLLAMA_HOST=http://localhost:11434